.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url('/src/assets/img/hero.png');
  background-position-y: 23%;
  background-size: cover;
  padding: 4rem 2rem;
}

.heroContainer {
  max-width: 600px;
}

.hero h1 {
  font-family: var(--font-heading);
  font-size: 2rem;
  color: var(--gold);
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.hero p {
  color: var(--text-soft);
  margin-bottom: 1.5rem;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.hero button {
  background-color: var(--secondary);
  border: none;
  padding: 0.8rem 1.5rem;
  color: var(--text-light);
  font-size: 1rem;
  border-radius: 4px;
  transition: opacity 0.3s ease;
}

.hero button:hover {
  opacity: 0.9;
}

@media (min-width: 1024px) {
  .hero {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding: 4rem 3rem;
    background-size: cover;
    height: auto;
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 1.1rem;
  }
}
